.contentWrap {
}
.author {
  padding: 1rem;
  font-size: 0.825rem;
  color: yellow;
  background-color: black;
}
.content {
  padding: 1rem;
  font-size: 0.825rem;
  color: white;
  background-color: black;
}
