div.contentWrap {
  .author {
    padding: 1rem;
    font-size: 0.825rem;
    color: yellow;
    display: block;
  }
  .content {
    padding: 1rem;
    font-size: 0.825rem;
    color: white;
    display: block;
  }
}
