.replyWrap {
  color: white;
}

.createAt {
  color: burlywood;
  font-size: 0.825rem;
}

.author {
  color: yellow;
}

.button {
  margin-right: 0.5rem;
  cursor: pointer;
}

.button:hover {
  color: brown;
}
