.postWrap {
  width: 100%;
  border: solid 2px dodgerblue;
  margin-bottom: 1rem;
  background-color: #272727;
  color: white;
}

.replysWrap {
  padding: 0rem 1rem 1rem 1rem;
  font-size: 0.825rem;
  color: #af04ff;
}
